//Colors
$basic-purple: #60558f;
$bg-basic-color: #f3f4f8;
$border-gray: #d3d5de;

//Fonts
$font-purple: $basic-purple;
$font-gray: #88858f;
$font-white: #fff;

//Scrollbar
$scroll-color: #dfdfe7;
$scroll-hover-color: #7f7f85;

//Buttons
$button-bg-color: #fff;
$button-purple-bg-color: #60558f;

//Player
$player-bg: #eeeff5;
$player-dark-bg: #2a224d;
$player-seek-slider: #ed5e74;
$player-seek-slider-dot: #fff;
$player-seek-slider-progress: #fff;
